{% extends "sign_base.html" %}

{% block title %}
   reset password via email
{%  endblock %}


{% block sign-title %}
     <h3 class="panel-title">Reset password</h3>

    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}

    {%  if errors %}
    <p class = "error-tag">{{ errors }}</p>
    {% endif %}

{% endblock %}

{% block sign_form %}
     <form action="{% url 'reset-pwd' username token%}" method="post" class="login-form">
         {% for field in form.visible_fields %}
             <div class="input-group register-input">
  				         <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                   <input type="text" class="form-control" placeholder="{{field.label}}" name = "{{field.name}}">
             </div>

             <p class = "error-tag" > {{field.errors}}</p>
         {% endfor %}

             <div class = "login-input2">
                   <button type="submit" class="btn sm btn-info login-button">Reset</button>
                   <input type = "hidden" name = "next" value = "{{ next }}" />
             </div>
            {% csrf_token %}

     </form>
{% endblock %}



<